In [4]:
import pandas as pd
import numpy as np
from collections import defaultdict
import math

In [5]:
root_mineral = '/Users/michaelcueto/Documents/proyectos/trazavilidad-VetaDorada/version1.0/database/mineral.xlsx'
root_blending = '/Users/michaelcueto/Documents/proyectos/trazavilidad-VetaDorada/version1.0/database/blendings.xlsx'
root_recuperacion = '/Users/michaelcueto/Documents/proyectos/trazavilidad-VetaDorada/version1.0/database/recuperacion.xlsx'
root_fecha = '/Users/michaelcueto/Documents/proyectos/trazavilidad-VetaDorada/version1.0/database/fecha_blending.xlsx'

df_mineral = pd.read_excel(root_mineral)
df_blending = pd.read_excel(root_blending)
df_recuperacion = pd.read_excel(root_recuperacion)
df_fecha = pd.read_excel(root_fecha)

In [6]:
df_mineral["id_mineral"] = df_mineral["id_mineral"].astype(str)
df_blending["id_blending"] = df_blending["id_blending"].astype(str)
df_blending["id_mineral"] = df_blending["id_mineral"].astype(str)
df_fecha["fecha_ingreso_planta"] = pd.to_datetime(df_fecha["fecha_ingreso_planta"], format="%d-%m-%Y %H:%M:%S")
df_fecha["id_blending"] = df_fecha["id_blending"].astype(str)

In [7]:
df_recuperacion["id_mineral"] = df_recuperacion["id_mineral"].astype(str).str.zfill(4)
df_recuperacion["rec_au"] = df_recuperacion["rec_au"].replace("#DIV/0!", 0.90).astype(float)
df_recuperacion["rec_ag"] = df_recuperacion["rec_ag"].replace("#DIV/0!", 0.90).astype(float)
df_recuperacion["rec_ag"] = df_recuperacion["rec_ag"].fillna(0.90).astype(float)
df_recuperacion["rec_au"] = df_recuperacion["rec_au"].fillna(0.90).astype(float)

In [8]:
df_recuperacion.dropna()

     id_mineral    rec_au  rec_ag
0         10153  0.665072  0.6651
1         10446  0.683333  0.6833
2         13671  0.921456  0.9215
3         13907  0.935806  0.9358
4         14054  0.887195  0.8872
...         ...       ...     ...
2758       0501  0.885135  0.8851
2759       0507  0.932734  0.9327
2760       0541  0.900000  0.9000
2761       0544  0.887574  0.8876
2762       0545  0.885093  0.8851

[2763 rows x 3 columns]

In [9]:
db1 = pd.merge(df_mineral,df_blending,
    left_on="id_mineral",
    right_on="id_mineral",
    how="left")
db1

,fecha_ingreso,fecha_proceso,id_mineral,nombre del minero,zona,tonelaje,ley_au,ley_ag,id_blending
0,2025-01-01,2025-01-15,0001,MINERA QORISONCCO AT E.I.R.L,YANAQUIHUA,1.599857,1.536,1.859,34
1,2025-01-01,2025-01-15,0002,MINERA QORISONCCO AT E.I.R.L,YANAQUIHUA,12.284500,0.965,0.977,34
2,2025-01-01,2025-01-15,0003,MINERA QORISONCCO AT E.I.R.L,YANAQUIHUA,0.606157,1.050,1.053,34
3,2025-01-01,2025-01-12,0004,TORRES CHAUCAYANQUI ARSEMIO AGUSTIN,YANAQUIHUA,12.123140,1.098,0.963,26
4,2025-01-01,2025-01-12,0005,CHANCOLLA COAQUIRA OSCAR,ESPINAR,13.744512,0.346,1.715,25
...,...,...,...,...,...,...,...,...,...
2260,2024-12-30,2025-01-22,TRJ-1897,RIVERA MATOS VICENTE MAURO,NaN,1.361369,3.500,3.780,49
2261,2024-12-30,2025-01-21,TRJ-1898,RIVERA MATOS VICENTE MAURO,NaN,2.742612,1.465,1.310,47
2262,2024-12-30,2025-01-26,TRJ-1899,RIVERA MATOS VICENTE MAURO,NaN,0.868204,0.290,0.410,60
2263,2024-12-30,2025-01-23,TRJ-1900,RIVERA MATOS VICENTE MAURO,NaN,5.137429,0.821,0.180,51
2264,2024-12-31,2025-01-22,TRJ-1901,LA PAMPA HERMOSA R & D E.I.R.L.,NaN,35.125375,1.390,1.870,49

In [10]:
db2 = pd.merge(db1,df_recuperacion,
    left_on="id_mineral",
    right_on="id_mineral",
    how="left")
db2["rec_au"] = db2["rec_au"].fillna(0.90)
db2["rec_ag"] = db2["rec_ag"].fillna(0.90)
db2

,fecha_ingreso,fecha_proceso,id_mineral,nombre del minero,zona,tonelaje,ley_au,ley_ag,id_blending,rec_au,rec_ag
0,2025-01-01,2025-01-15,0001,MINERA QORISONCCO AT E.I.R.L,YANAQUIHUA,1.599857,1.536,1.859,34,0.903646,0.9036
1,2025-01-01,2025-01-15,0001,MINERA QORISONCCO AT E.I.R.L,YANAQUIHUA,1.599857,1.536,1.859,34,0.906040,0.9060
2,2025-01-01,2025-01-15,0002,MINERA QORISONCCO AT E.I.R.L,YANAQUIHUA,12.284500,0.965,0.977,34,0.862745,0.8627
3,2025-01-01,2025-01-15,0002,MINERA QORISONCCO AT E.I.R.L,YANAQUIHUA,12.284500,0.965,0.977,34,0.894301,0.8943
4,2025-01-01,2025-01-15,0002,MINERA QORISONCCO AT E.I.R.L,YANAQUIHUA,12.284500,0.965,0.977,34,0.904173,0.9042
...,...,...,...,...,...,...,...,...,...,...,...
2352,2024-12-30,2025-01-22,TRJ-1897,RIVERA MATOS VICENTE MAURO,NaN,1.361369,3.500,3.780,49,0.900000,0.9000
2353,2024-12-30,2025-01-21,TRJ-1898,RIVERA MATOS VICENTE MAURO,NaN,2.742612,1.465,1.310,47,0.900000,0.9000
2354,2024-12-30,2025-01-26,TRJ-1899,RIVERA MATOS VICENTE MAURO,NaN,0.868204,0.290,0.410,60,0.900000,0.9000
2355,2024-12-30,2025-01-23,TRJ-1900,RIVERA MATOS VICENTE MAURO,NaN,5.137429,0.821,0.180,51,0.900000,0.9000
2356,2024-12-31,2025-01-22,TRJ-1901,LA PAMPA HERMOSA R & D E.I.R.L.,NaN,35.125375,1.390,1.870,49,0.900000,0.9000

In [11]:
db3 = db2.groupby("id_blending")["tonelaje"].sum().reset_index()
db3

   id_blending    tonelaje
0            1  517.474212
1           10  128.204412
2           11  297.512777
3           12  123.276898
4           13  255.313791
..         ...         ...
65          69  123.920610
66           7  267.662623
67          70  208.592739
68           8  124.430199
69           9  281.129571

[70 rows x 2 columns]

In [12]:
df_fecha

    fecha_ingreso_planta id_blending  tonelaje
0    2025-01-02 05:30:00           1     88.78
1    2025-01-02 13:00:00           1    268.53
2    2025-01-03 01:00:00           1    192.28
3    2025-01-03 09:35:00           2     77.48
4    2025-01-03 13:00:00           2     53.94
..                   ...         ...       ...
122  2025-01-30 01:00:00          68    112.58
123  2025-01-30 06:25:00          69    121.90
124  2025-01-30 12:05:00          70     21.79
125  2025-01-30 13:00:00          70    205.27
126  2025-01-30 22:50:00          71     49.83

[127 rows x 3 columns]

In [13]:
df_fecha = df_fecha.sort_values(by="fecha_ingreso_planta").reset_index(drop=True)
df_fecha_2 = df_fecha.groupby("id_blending").agg(
    hora_inicio=("fecha_ingreso_planta", "first"),  # Primer registro de cada blending
    tonelaje_total=("tonelaje", "sum")              # Sumar tonelaje de cada blending
).reset_index()
df_fecha_2 = df_fecha_2.sort_values(by="hora_inicio").reset_index(drop=True)
df_fecha_2["hora_final"] = df_fecha_2["hora_inicio"].shift(-1)
df_fecha_2.loc[df_fecha_2.index[-1], "hora_final"] = df_fecha["fecha_ingreso_planta"].max()
df_fecha_2

   id_blending         hora_inicio  tonelaje_total          hora_final
0            1 2025-01-02 05:30:00          549.59 2025-01-03 09:35:00
1            2 2025-01-03 09:35:00          131.42 2025-01-03 15:45:00
2            3 2025-01-03 15:45:00          290.16 2025-01-04 04:35:00
3            4 2025-01-04 04:35:00          116.52 2025-01-04 10:15:00
4            5 2025-01-04 10:15:00          271.91 2025-01-04 22:05:00
..         ...                 ...             ...                 ...
66          67 2025-01-29 06:10:00          259.30 2025-01-29 18:08:00
67          68 2025-01-29 18:08:00          271.06 2025-01-30 06:25:00
68          69 2025-01-30 06:25:00          121.90 2025-01-30 12:05:00
69          70 2025-01-30 12:05:00          227.06 2025-01-30 22:50:00
70          71 2025-01-30 22:50:00           49.83 2025-01-30 22:50:00

[71 rows x 4 columns]

In [14]:
db4 = pd.merge(df_fecha_2,db3,
    left_on="id_blending",
    right_on="id_blending",
    how="left")
db4

,id_blending,hora_inicio,tonelaje_total,hora_final,tonelaje
0,1,2025-01-02 05:30:00,549.59,2025-01-03 09:35:00,517.474212
1,2,2025-01-03 09:35:00,131.42,2025-01-03 15:45:00,144.565449
2,3,2025-01-03 15:45:00,290.16,2025-01-04 04:35:00,285.229800
3,4,2025-01-04 04:35:00,116.52,2025-01-04 10:15:00,120.784396
4,5,2025-01-04 10:15:00,271.91,2025-01-04 22:05:00,273.539746
...,...,...,...,...,...
66,67,2025-01-29 06:10:00,259.30,2025-01-29 18:08:00,256.343054
67,68,2025-01-29 18:08:00,271.06,2025-01-30 06:25:00,257.032416
68,69,2025-01-30 06:25:00,121.90,2025-01-30 12:05:00,123.920610
69,70,2025-01-30 12:05:00,227.06,2025-01-30 22:50:00,208.592739
70,71,2025-01-30 22:50:00,49.83,2025-01-30 22:50:00,NaN

In [15]:
df_fecha_3 = df_fecha_2.copy()
delta_t = (df_fecha_3["hora_final"] - df_fecha_3["hora_inicio"]).dt.total_seconds()
df_fecha_3["ton_5min"] = np.where(delta_t == 0, None, df_fecha_3["tonelaje_total"] / (delta_t / 300))
df_fecha_3

,id_blending,hora_inicio,tonelaje_total,hora_final,ton_5min
0,1,2025-01-02 05:30:00,549.59,2025-01-03 09:35:00,1.630831
1,2,2025-01-03 09:35:00,131.42,2025-01-03 15:45:00,1.775946
2,3,2025-01-03 15:45:00,290.16,2025-01-04 04:35:00,1.884156
3,4,2025-01-04 04:35:00,116.52,2025-01-04 10:15:00,1.713529
4,5,2025-01-04 10:15:00,271.91,2025-01-04 22:05:00,1.914859
...,...,...,...,...,...
66,67,2025-01-29 06:10:00,259.30,2025-01-29 18:08:00,1.80571
67,68,2025-01-29 18:08:00,271.06,2025-01-30 06:25:00,1.838942
68,69,2025-01-30 06:25:00,121.90,2025-01-30 12:05:00,1.792647
69,70,2025-01-30 12:05:00,227.06,2025-01-30 22:50:00,1.760155
70,71,2025-01-30 22:50:00,49.83,2025-01-30 22:50:00,None

In [16]:
import pandas as pd

# Nuevo DataFrame para almacenar los datos expandidos
df_fecha_4 = []

for _, row in df_fecha_3.iterrows():
    hora_actual = row["hora_inicio"]
    while hora_actual < row["hora_final"]:
        # Definir la siguiente hora en el intervalo de 5 minutos
        hora_siguiente = hora_actual + pd.Timedelta(minutes=5)
        
        # Asegurar que no sobrepase la hora_final
        if hora_siguiente > row["hora_final"]:
            break  
        
        # Agregar el nuevo intervalo
        df_fecha_4.append({
            "id_blending": row["id_blending"],
            "hora_inicio": hora_actual,
            "hora_final": hora_siguiente,
            "ton_5min": row["ton_5min"]
        })
        
        # Avanzar al siguiente intervalo
        hora_actual = hora_siguiente

# Convertir la lista en un DataFrame
df_fecha_4 = pd.DataFrame(df_fecha_4)
df_fecha_4

     id_blending         hora_inicio          hora_final  ton_5min
0              1 2025-01-02 05:30:00 2025-01-02 05:35:00  1.630831
1              1 2025-01-02 05:35:00 2025-01-02 05:40:00  1.630831
2              1 2025-01-02 05:40:00 2025-01-02 05:45:00  1.630831
3              1 2025-01-02 05:45:00 2025-01-02 05:50:00  1.630831
4              1 2025-01-02 05:50:00 2025-01-02 05:55:00  1.630831
...          ...                 ...                 ...       ...
8253          70 2025-01-30 22:25:00 2025-01-30 22:30:00  1.760155
8254          70 2025-01-30 22:30:00 2025-01-30 22:35:00  1.760155
8255          70 2025-01-30 22:35:00 2025-01-30 22:40:00  1.760155
8256          70 2025-01-30 22:40:00 2025-01-30 22:45:00  1.760155
8257          70 2025-01-30 22:45:00 2025-01-30 22:50:00  1.760155

[8258 rows x 4 columns]

In [17]:
df_fecha_5 = df_fecha_4.copy()
df_fecha_5["hora_salida_molino"] = df_fecha_5["hora_final"] + pd.Timedelta(minutes=45)
df_fecha_5 = df_fecha_5.drop(columns=["hora_final","hora_inicio"])
df_fecha_5

     id_blending  ton_5min  hora_salida_molino
0              1  1.630831 2025-01-02 06:20:00
1              1  1.630831 2025-01-02 06:25:00
2              1  1.630831 2025-01-02 06:30:00
3              1  1.630831 2025-01-02 06:35:00
4              1  1.630831 2025-01-02 06:40:00
...          ...       ...                 ...
8253          70  1.760155 2025-01-30 23:15:00
8254          70  1.760155 2025-01-30 23:20:00
8255          70  1.760155 2025-01-30 23:25:00
8256          70  1.760155 2025-01-30 23:30:00
8257          70  1.760155 2025-01-30 23:35:00

[8258 rows x 3 columns]

In [18]:
df_materiales = df_fecha_5.copy()
df_materiales

     id_blending  ton_5min  hora_salida_molino
0              1  1.630831 2025-01-02 06:20:00
1              1  1.630831 2025-01-02 06:25:00
2              1  1.630831 2025-01-02 06:30:00
3              1  1.630831 2025-01-02 06:35:00
4              1  1.630831 2025-01-02 06:40:00
...          ...       ...                 ...
8253          70  1.760155 2025-01-30 23:15:00
8254          70  1.760155 2025-01-30 23:20:00
8255          70  1.760155 2025-01-30 23:25:00
8256          70  1.760155 2025-01-30 23:30:00
8257          70  1.760155 2025-01-30 23:35:00

[8258 rows x 3 columns]

In [19]:
def simular_tanques(df_materiales, capacidad_tanques, dimensiones_tanques, tonelaje, densidad_pulpa, ge, intervalo, tiempo_total):
    """
    Simula el flujo de materiales en tanques asegurando que cada tanque transfiera su contenido 
    exactamente cada T_transferencia despuÃ©s de que el material llegue al tanque.
    """

    num_pasos = tiempo_total // intervalo
    num_tanques = len(capacidad_tanques)
    historial_tanques = defaultdict(list)

    # ðŸ”¹ CÃ¡lculo de volÃºmenes y porcentaje de sÃ³lidos
    porc_solidos = ((densidad_pulpa - 1000) / (((ge - 1) / ge) * densidad_pulpa)) * 100
    vol_liquido = (tonelaje * (100 - porc_solidos)) / porc_solidos
    vol_mineral = tonelaje / ge

    # ðŸ”¹ Calcular tiempos de transferencia para cada tanque
    T_transferencia = {
        t: round((math.pi * 0.25 * 24 * 60 * 0.85 * 0.02831 * (dimensiones_tanques[t][0] ** 2) * dimensiones_tanques[t][1] / (vol_liquido + vol_mineral)))
        for t in capacidad_tanques
    }
    print("Tiempos de transferencia calculados:", T_transferencia)

    # ðŸ”¹ Inicializar tanques vacÃ­os y tiempo acumulado desde la Ãºltima transferencia
    contenido = {t: {} for t in capacidad_tanques}
    tiempo_acumulado = {t: 0 for t in capacidad_tanques}  # Tiempo acumulado desde la Ãºltima transferencia

    # SimulaciÃ³n
    for paso in range(num_pasos):
        tiempo_actual = paso * intervalo

        # ðŸ”¹ Entrada de material en el Tanque 1 cada intervalo de alimentaciÃ³n
        if paso < len(df_materiales):
            material_entrada = df_materiales.iloc[paso]["id_blending"]
            cantidad_entrada = df_materiales.iloc[paso]["ton_5min"]
            if material_entrada in contenido[1]:
                contenido[1][material_entrada] += cantidad_entrada
            else:
                contenido[1][material_entrada] = cantidad_entrada

        # ðŸ”¹ Transferencia entre tanques si el tiempo acumulado es mayor o igual al T_transferencia
        for t in range(1, num_tanques):  # Desde el Tanque 1 hasta el penÃºltimo
            if contenido[t]:  # Si hay material en el tanque actual
                tiempo_acumulado[t] += intervalo  # Acumular tiempo desde la Ãºltima transferencia

                if tiempo_acumulado[t] >= T_transferencia[t]:  # Si es momento de transferir
                    # Mover el contenido del tanque actual al siguiente
                    if contenido[t + 1]:
                        # Si el tanque siguiente ya tiene material, sumar las cantidades
                        for material, cantidad in contenido[t].items():
                            if material in contenido[t + 1]:
                                contenido[t + 1][material] += cantidad
                            else:
                                contenido[t + 1][material] = cantidad
                    else:
                        # Si el tanque siguiente estÃ¡ vacÃ­o, copiar el contenido
                        contenido[t + 1] = contenido[t].copy()

                    # Vaciar el tanque actual despuÃ©s de la transferencia
                    contenido[t] = {}
                    # Reiniciar el tiempo acumulado para el tanque actual
                    tiempo_acumulado[t] = 0

        # ðŸ”¹ Guardar estado de los tanques en el historial
        for t in capacidad_tanques:
            historial_tanques[t].append({"Tiempo (min)": tiempo_actual, **contenido[t]})

    # Convertir historial en DataFrames
    df_resultados = {t: pd.DataFrame(historial) for t, historial in historial_tanques.items()}
    return df_resultados

In [20]:
import pandas as pd
import math
from collections import defaultdict

def simular_tanques(df_materiales, capacidad_tanques, dimensiones_tanques, tonelaje, densidad_pulpa, ge, intervalo, tiempo_total):
    """
    Simula el flujo de materiales en tanques asegurando que cada tanque transfiera su contenido 
    exactamente cada T_transferencia despuÃ©s de que el material llegue al tanque.
    """

    num_pasos = tiempo_total // intervalo
    num_tanques = len(capacidad_tanques)
    historial_tanques = defaultdict(list)

    # ðŸ”¹ CÃ¡lculo de volÃºmenes y porcentaje de sÃ³lidos
    porc_solidos = ((densidad_pulpa - 1000) / (((ge - 1) / ge) * densidad_pulpa)) * 100
    vol_liquido = (tonelaje * (100 - porc_solidos)) / porc_solidos
    vol_mineral = tonelaje / ge

    # ðŸ”¹ Calcular tiempos de transferencia para cada tanque
    T_transferencia = {
        t: round((math.pi * 0.25 * 24 * 60 * 0.85 * 0.02831 * (dimensiones_tanques[t][0] ** 2) * dimensiones_tanques[t][1] / (vol_liquido + vol_mineral)))
        for t in capacidad_tanques
    }
    print("Tiempos de transferencia calculados:", T_transferencia)

    # ðŸ”¹ Inicializar tanques vacÃ­os y tiempo acumulado desde la Ãºltima transferencia
    contenido = {t: {} for t in capacidad_tanques}
    tiempo_acumulado = {t: 0 for t in capacidad_tanques}  # Tiempo acumulado desde la Ãºltima transferencia

    # ðŸ”¹ Usar "hora_salida_molino" directamente como marca de tiempo
    df_materiales = df_materiales.copy()
    df_materiales["time"] = df_materiales["hora_salida_molino"]  # Mantener la fecha y hora original

    # SimulaciÃ³n
    for paso in range(num_pasos):
        if paso >= len(df_materiales):
            break  # Evitar errores si se supera el tamaÃ±o del DataFrame
        
        tiempo_actual = df_materiales.iloc[paso]["time"]  # Usar la fecha y hora directamente

        # ðŸ”¹ Entrada de material en el Tanque 1 cada intervalo de alimentaciÃ³n
        material_entrada = df_materiales.iloc[paso]["id_blending"]
        cantidad_entrada = df_materiales.iloc[paso]["ton_5min"]
        if material_entrada in contenido[1]:
            contenido[1][material_entrada] += cantidad_entrada
        else:
            contenido[1][material_entrada] = cantidad_entrada

        # ðŸ”¹ Transferencia entre tanques si el tiempo acumulado es mayor o igual al T_transferencia
        for t in range(1, num_tanques):  # Desde el Tanque 1 hasta el penÃºltimo
            if contenido[t]:  # Si hay material en el tanque actual
                tiempo_acumulado[t] += intervalo  # Acumular tiempo desde la Ãºltima transferencia

                if tiempo_acumulado[t] >= T_transferencia[t]:  # Si es momento de transferir
                    # Mover el contenido del tanque actual al siguiente
                    if contenido[t + 1]:
                        # Si el tanque siguiente ya tiene material, sumar las cantidades
                        for material, cantidad in contenido[t].items():
                            if material in contenido[t + 1]:
                                contenido[t + 1][material] += cantidad
                            else:
                                contenido[t + 1][material] = cantidad
                    else:
                        # Si el tanque siguiente estÃ¡ vacÃ­o, copiar el contenido
                        contenido[t + 1] = contenido[t].copy()

                    # Vaciar el tanque actual despuÃ©s de la transferencia
                    contenido[t] = {}
                    # Reiniciar el tiempo acumulado para el tanque actual
                    tiempo_acumulado[t] = 0

        # ðŸ”¹ Guardar estado de los tanques en el historial con la fecha y hora exacta
        for t in capacidad_tanques:
            historial_tanques[t].append({"time": tiempo_actual, **contenido[t]})

    # Convertir historial en DataFrames
    df_resultados = {t: pd.DataFrame(historial) for t, historial in historial_tanques.items()}
    return df_resultados

In [21]:
densidad_pulpa = 1290  # Densidad de pulpa
ge = 2.7  # Gravedad especÃ­fica
tonelaje = 550  # TMSD

dimensiones_tanques = {
    1: (28, 28), 2: (28, 28), 3: (28, 28), 4: (28, 28), 5: (28, 28),
    6: (24, 24), 7: (24, 24), 8: (24, 24), 9: (24, 24), 10: (24, 24), 11: (24, 24)
}  # (DiÃ¡metro, Altura) de cada tanque

capacidad_tanques = {i: 100 for i in range(1, 12)}  # Capacidad de cada tanque
intervalo = 5  # Intervalo de alimentaciÃ³n
tiempo_total = 24 * 60 * 25  # 4 dÃ­as en minutos

df_resultados = simular_tanques(df_materiales, capacidad_tanques, dimensiones_tanques, tonelaje, densidad_pulpa, ge, intervalo, tiempo_total)
for key, value in df_resultados.items():
    globals()[f"df{key}"] = value  # Crea variables df1, df2, ..., df11 en el entorno global

Tiempos de transferencia calculados: {1: 500, 2: 500, 3: 500, 4: 500, 5: 500, 6: 315, 7: 315, 8: 315, 9: 315, 10: 315, 11: 315}

In [22]:
df_materiales

     id_blending  ton_5min  hora_salida_molino
0              1  1.630831 2025-01-02 06:20:00
1              1  1.630831 2025-01-02 06:25:00
2              1  1.630831 2025-01-02 06:30:00
3              1  1.630831 2025-01-02 06:35:00
4              1  1.630831 2025-01-02 06:40:00
...          ...       ...                 ...
8253          70  1.760155 2025-01-30 23:15:00
8254          70  1.760155 2025-01-30 23:20:00
8255          70  1.760155 2025-01-30 23:25:00
8256          70  1.760155 2025-01-30 23:30:00
8257          70  1.760155 2025-01-30 23:35:00

[8258 rows x 3 columns]

In [23]:
from sim_tanques import tanques
df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11 = tanques(df_materiales, capacidad_tanques, dimensiones_tanques, tonelaje, densidad_pulpa, ge, intervalo, tiempo_total).simular_tanques()

ImportError: cannot import name 'tanques' from 'sim_tanques' (/Users/michaelcueto/Documents/proyectos/trazavilidad-VetaDorada/version1.0/code/sim_tanques.py)

In [ ]:
df1_1 = df1.head(1).transpose().dropna().reset_index()
df1_1.columns = [["id_blending","toneladas"]]
df1_1 = df1_1[1:]
df1_1 = df1_1.reset_index(drop=True)
df1_1

  id_blending toneladas
0           1  1.630831

In [ ]:
df = df_resultados.head(10)

AttributeError: 'dict' object has no attribute 'head'

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt
plt.figure(figsize=(12, 5))
sns.lineplot(data=df_resultados[1], x="time", y="total")

ValueError: Could not interpret value `total` for `y`. An entry with this name does not appear in `data`.

In [ ]:
from datetime import datetime, timedelta
import pandas as pd

# Lista de horas de ingreso
horas_ingreso = [
    "5:30", "13:00", "1:00", "9:35", "13:00", "15:45", "1:00", "4:35", "10:15", "13:00",
    "22:05", "1:00", "4:00", "13:00", "16:00", "21:45", "1:00", "10:35", "13:00", "16:20",
    "1:00", "4:30", "9:50", "13:00", "21:40", "1:00", "3:15", "13:00", "14:50", "20:40",
    "1:00", "8:40", "13:00", "15:00", "1:00", "2:20", "8:10", "13:00", "20:02", "1:00",
    "9:00", "13:00", "20:28", "1:00", "1:40", "13:00", "14:20", "20:17", "1:00", "7:25"
]

# Fecha inicial: 2 de enero de 2025 a las 00:00
fecha_actual = datetime(2025, 1, 2, 0, 0)  # Esta variable se actualizarÃ¡ en cada iteraciÃ³n

# Convertir horas a formato datetime sumÃ¡ndolas a la fecha base
fechas_largas = []
for hora in horas_ingreso:
    h, m = map(int, hora.split(":"))  # Separar horas y minutos
    fecha_actual += timedelta(hours=h, minutes=m)  # Sumar horas y minutos a la Ãºltima fecha guardada
    fechas_largas.append(fecha_actual)

# Crear DataFrame con fechas en formato largo
df_fechas = pd.DataFrame({"Fecha Larga": fechas_largas})

# Convertir al formato d/m/yy H:MM (sin ceros a la izquierda en dÃ­a ni en hora)
df_fechas["Fecha Larga"] = df_fechas["Fecha Larga"].dt.strftime("%-d/%-m/%y %-H:%M")

# Mostrar las primeras filas
print(df_fechas.head(15))

     Fecha Larga
0    2/1/25 5:30
1   2/1/25 18:30
2   2/1/25 19:30
3    3/1/25 5:05
4   3/1/25 18:05
5    4/1/25 9:50
6   4/1/25 10:50
7   4/1/25 15:25
8    5/1/25 1:40
9   5/1/25 14:40
10  6/1/25 12:45
11  6/1/25 13:45
12  6/1/25 17:45
13   7/1/25 6:45
14  7/1/25 22:45

In [ ]:
df

,TURNO,HORA INGR PLANTA,TONELAJ ACUM,TIPO,# BLENDING,TONELAJE X HORARIO,TON TOTALxBlending
0,NaN,05:30:00,875913.80,Varios,1.0,88.78,NaN
1,A,13:00:00,53.94,NaN,NaN,268.53,NaN
2,B,01:00:00,876271.11,NaN,NaN,192.28,549.59
3,NaN,09:35:00,876463.39,Batch,2.0,77.48,NaN
4,A,13:00:00,876540.87,NaN,NaN,53.94,131.42
...,...,...,...,...,...,...,...
131,NaN,18:06:00,891226.70,Varios,74.0,183.56,NaN
132,B,01:00:00,891363.87,NaN,NaN,NaN,183.56
133,NaN,03:25:00,891410.26,NaN,NaN,NaN,NaN
134,NaN,nan,NaN,NaN,NaN,NaN,NaN
135,B,nan,NaN,NaN,NaN,15496.46,NaN

In [ ]:
import pandas as pd
df = pd.read_excel("/Users/michaelcueto/Documents/proyectos/trazavilidad-VetaDorada/TONELAJE ENERO 2025.xlsx")
from datetime import datetime, timedelta
import pandas as pd

from datetime import datetime, timedelta
import pandas as pd
df = df.dropna(subset=["HORA INGR PLANTA"])
# Suponiendo que tu DataFrame se llama df y la columna es "HORA INGR PLANTA"
import pandas as pd
from datetime import datetime, timedelta

# Suponiendo que df es tu DataFrame y la columna "HORA INGR PLANTA" es de tipo string
df["HORA INGR PLANTA"] = pd.to_datetime(df["HORA INGR PLANTA"], format="%H:%M:%S").dt.time

# Establecer la fecha inicial (2 de enero de 2025)
fecha_actual = datetime(2025, 1, 2)  # 2 de enero de 2025

# Lista para almacenar las fechas corregidas
fechas_corregidas = []

for hora in df["HORA INGR PLANTA"]:
    # Si la hora es menor a la Ãºltima registrada, significa que pasamos al siguiente dÃ­a
    if fechas_corregidas and hora < fechas_corregidas[-1].time():
        fecha_actual += timedelta(days=1)  # Avanzamos al dÃ­a siguiente
    
    # Crear la fecha completa con la hora
    fecha_completa = datetime.combine(fecha_actual.date(), hora)
    fechas_corregidas.append(fecha_completa)

# Agregar la nueva columna con formato "D/M/YY H:M"
df["FECHA LARGA"] = [fecha.strftime("%-d/%-m/%y %H:%M") for fecha in fechas_corregidas]

# Mostrar los primeros registros
df.head(10)
df.to_excel("output.xlsx")

In [ ]:
df.head()

,TURNO,HORA INGR PLANTA,TONELAJ ACUM,TIPO,# BLENDING,TONELAJE X HORARIO,TON TOTALxBlending,FECHA LARGA
0,NaN,05:30:00,875913.80,Varios,1.0,88.78,NaN,2/1/25 05:30
1,A,13:00:00,53.94,NaN,NaN,268.53,NaN,2/1/25 13:00
2,B,01:00:00,876271.11,NaN,NaN,192.28,549.59,3/1/25 01:00
3,NaN,09:35:00,876463.39,Batch,2.0,77.48,NaN,3/1/25 09:35
4,A,13:00:00,876540.87,NaN,NaN,53.94,131.42,3/1/25 13:00

In [ ]:
import pandas as pd

# DataFrame de ejemplo (simulando tu imagen)
import pandas as pd
import numpy as np

# Crear un DataFrame con 10 atributos y 5 filas con valores ceros y no ceros
data = [
    [1, 2, 3, 4, 5, 0, 0, 0, 0, 0],
    [0, 6, 7, 8, 9, 10, 0, 0, 0, 0],
    [0, 0, 11, 12, 13, 14, 0, 0, 0, 0],
    [0, 0, 0, 16, 17, 18, 0, 20, 0, 0],
    [0, 0, 0, 0, 21, 22, 0, 24, 25, 0]
]

columns = [f"A{i+1}" for i in range(10)]
df = pd.DataFrame(data, columns=columns)

# Transponer la fila especÃ­fica
df_transpuesto = df.T
df_grouped = df_transpuesto.sum(axis=1).reset_index()
df_grouped.columns = ["id_blending","toneladas"]
df_grouped = df_grouped[(df_grouped != 0).all(axis=1)]
df_grouped = df_grouped.reset_index(drop=True)

In [ ]:
from parametros import densidad_pulpa, ge, tonelaje, dimensiones_tanques, capacidad_tanques
from data import integracion_data
from sim_tanques import Tanques
from cosecha_tanques import Cosecha 
import pandas as pd
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

minutos = 5
intervalo = 5
tiempo_total = 24*60*25
root_mineral = "/Users/michaelcueto/Documents/proyectos/trazavilidad-VetaDorada/version1.0/database/mineral.xlsx"
root_blending = "/Users/michaelcueto/Documents/proyectos/trazavilidad-VetaDorada/version1.0/database/blendings.xlsx"
root_recuperacion = "/Users/michaelcueto/Documents/proyectos/trazavilidad-VetaDorada/version1.0/database/recuperacion.xlsx"
root_fecha = "/Users/michaelcueto/Documents/proyectos/trazavilidad-VetaDorada/version1.0/database/fecha_blending.xlsx"
fecha_cosecha = "2025-01-05 10:00:00"

df_materiales = integracion_data(root_mineral, root_blending, root_recuperacion, root_fecha, minutos).mill_to_lix(deltatime=45)
df_info_blendings = integracion_data(root_mineral, root_blending, root_recuperacion, root_fecha, minutos).info_blending(rec_estandar=0.90)
df_tk1, df_tk2, df_tk3, df_tk4, df_tk5, df_tk6, df_tk7, df_tk8, df_tk9, df_tk10, df_tk11 = Tanques(df_materiales, capacidad_tanques, dimensiones_tanques, tonelaje, densidad_pulpa, ge, intervalo, tiempo_total).simular_tanques()
df_cosecha = Cosecha(df_tk1,fecha_cosecha).extraccion()
df_cosecha = df_cosecha.dropna(how='all')
df_cosecha["tonelaje"] = df_cosecha.sum(axis=1)
df_cosecha = df_cosecha.reset_index().rename(columns={"index": "id_blending"})
df_info_filtrado = df_info_blendings[df_info_blendings['id_blending'].isin(df_cosecha['id_blending'])]


def encontrar_mejor_combinacion(df_tonelajes, id_blending, tonelaje_objetivo):
    minerales = df_tonelajes[df_tonelajes['id_blending'] == id_blending]
    mejores_minerales = None
    mejor_diferencia = float('inf')

    # Probar todas las combinaciones posibles de minerales
    for i in range(1, len(minerales) + 1):
        for combo in combinations(minerales.itertuples(index=False), i):
            suma_tonelaje = sum(mineral.tonelaje for mineral in combo)
            diferencia = abs(tonelaje_objetivo - suma_tonelaje)

            if diferencia < mejor_diferencia:
                mejor_diferencia = diferencia
                mejores_minerales = combo

            # Si la diferencia es exactamente 0, encontramos la combinaciÃ³n ideal
            if diferencia == 0:
                return combo
    return mejores_minerales

selecciones = []
umbral_diferencia = 0.10
# Encontrar la mejor combinaciÃ³n de minerales para cada idblending y almacenarlo en la lista
for _, row in df_cosecha.iterrows():
    id_blending = row['id_blending']
    tonelaje_cosecha = row['tonelaje']

    tonelaje_esperado = df_info_blendings[df_info_blendings['id_blending'] == id_blending]['tonelaje'].values
    if len(tonelaje_esperado) > 0:
        tonelaje_esperado = tonelaje_esperado[0]
    
        if tonelaje_cosecha < (1 - umbral_diferencia) * tonelaje_esperado:
                mejores_minerales = encontrar_mejor_combinacion(df_info_filtrado, id_blending, tonelaje_cosecha)

                if mejores_minerales:
                    for mineral in mejores_minerales:
                        selecciones.append({'id_blending': id_blending, 'id_mineral': mineral.id_mineral, 'tonelaje': mineral.tonelaje})

# Convertir la lista en un DataFrame
df_seleccionados = pd.DataFrame(selecciones)
df_seleccionados

ValueError: No axis named 1 for object type Series

In [ ]:
df_cosecha

,id_blending,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,tonelaje
0,1,95.202971,95.202971,95.202971,95.202971,95.202971,33.781699,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,509.796553
1,2,NaN,NaN,NaN,NaN,NaN,78.143486,64.468376,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,142.611862
2,3,NaN,NaN,NaN,NaN,NaN,NaN,53.712105,114.832777,112.980635,NaN,NaN,NaN,NaN,NaN,NaN,281.525517
3,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.776241,110.126949,5.328723,NaN,NaN,NaN,NaN,117.231914
4,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,113.653838,119.432847,36.600389,NaN,NaN,269.687074
5,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,73.194499,45.959336,NaN,119.153835
6,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,65.056888,50.186742,115.243629

In [ ]:
df_cosecha["tonelaje"].sum()

KeyError: 'tonelaje'

In [ ]:
df_info_filtrado

,fecha_ingreso,fecha_proceso,id_mineral,nombre del minero,zona,tonelaje,ley_au,ley_ag,id_blending,rec_au,rec_ag
874,2024-12-03,2025-01-03,18850,HUISA LAZO NORA CONCEPCION,MARIANO NICOLAS VALCARCEL,3.959875,0.228,0.693,3,0.900000,0.9000
894,2024-12-05,2025-01-02,19031,AGUERO CONTRERAS ALBERTO,ATICO,1.501000,0.326,0.644,1,0.900000,0.9000
895,2024-12-05,2025-01-02,19033,AGUERO CONTRERAS ALBERTO,ATICO,9.065250,0.210,0.596,1,0.892857,0.8929
896,2024-12-06,2025-01-04,19062,HUANCA MAMANI LOURDES,VITOR,3.782125,0.208,0.657,3,0.900000,0.9000
898,2024-12-07,2025-01-02,19089,CCOROPUNA CHALLA EDGARDO JOSE,MARIANO NICOLAS VALCARCEL,1.420991,0.172,0.686,1,0.900000,0.9000
...,...,...,...,...,...,...,...,...,...,...,...
2135,2024-12-05,2025-01-04,TRJ-1666,SOCIEDAD MINERA DE RESPONSABILIDAD LIMITADA MI...,TAYABAMBA,35.626500,0.928,1.512,6,0.900000,0.9000
2139,2024-12-06,2025-01-03,TRJ-1677,CAMPOS PERES ASUNCION,CHILLIA,34.481390,0.734,0.851,2,0.900000,0.9000
2152,2024-12-09,2025-01-05,TRJ-1689,SOCIEDAD MINERA DE RESPONSABILIDAD LIMITADA MI...,TAYABAMBA,41.168875,1.222,0.921,6,0.900000,0.9000
2171,2024-12-11,2025-01-05,TRJ-1708,CMC GROUP S.A.C.,NaN,1.798597,1.190,0.684,6,0.900000,0.9000
2217,2024-12-14,2025-01-05,TRJ-1754,EL BRILLO DEL CHAMUCO E.I.R.L.,NaN,37.045136,1.473,0.787,6,0.900000,0.9000

In [ ]:
df_info_filtrado["tonelaje"].sum()

1730.112259

In [ ]:
from itertools import combinations

# Agrupar df_info_filtrado por id_blending y sumar el tonelaje esperado
tonelaje_esperado_dict = df_info_filtrado.groupby('id_blending')['tonelaje'].sum().to_dict()

selecciones = []
umbral_diferencia = 0.20  # 10% menos se considera significativamente menor

# Recorrer df_cosecha y evaluar la diferencia con el tonelaje esperado
for _, row in df_cosecha.iterrows():
    id_blending = row['id_blending']
    tonelaje_cosecha = row['tonelaje']

    # Obtener tonelaje esperado del diccionario
    tonelaje_esperado = tonelaje_esperado_dict.get(id_blending, 0)

    # Verificar si la diferencia es significativa
    if tonelaje_cosecha < (1 - umbral_diferencia) * tonelaje_esperado:
        # Buscar la mejor combinaciÃ³n de minerales
        mejores_minerales = encontrar_mejor_combinacion(df_info_filtrado, id_blending, tonelaje_cosecha)

        if mejores_minerales:
            for mineral in mejores_minerales:
                selecciones.append({'id_blending': id_blending, 'id_mineral': mineral.id_mineral, 'tonelaje': mineral.tonelaje})

# Convertir la lista en un DataFrame
df_seleccionados = pd.DataFrame(selecciones)
df_info_filtrado_final = df_info_filtrado[
    (df_info_filtrado['id_blending'].isin(df_seleccionados['id_blending'])) & 
    (df_info_filtrado['id_mineral'].isin(df_seleccionados['id_mineral']))
]
df_info_filtrado_final_2 = df_info_filtrado.merge(
    df_seleccionados[['id_blending', 'id_mineral']], 
    on=['id_blending', 'id_mineral'], 
    how='left')
df_info_filtrado_final_2["tonelaje"].sum()

NameError: name 'df_info_filtrado' is not defined

In [4]:
tanques_config = [
    {"beta": 0.50, "fecha_cosecha": "2025-01-05 10:00:00", "oro_cosecha": 442.81, "df_cosecha": None},  # Tanque 1
    {"beta": 0.65, "fecha_cosecha": "2025-01-07 22:30:00", "oro_cosecha": 561.00, "df_cosecha": None},  # Tanque 2
    {"beta": 0.35, "fecha_cosecha": "2025-01-12 11:00:00", "oro_cosecha": 485.67, "df_cosecha": None},  # Tanque 3
    {"beta": 0.35, "fecha_cosecha": "2025-01-18 15:40:00", "oro_cosecha": 536.62, "df_cosecha": None},  # Tanque 4
]
list(range(1, len(tanques_config)+1))

[1, 2, 3, 4]

In [16]:
from parametros import densidad_pulpa, ge, tonelaje, dimensiones_tanques, capacidad_tanques
from data import integracion_data
from sim_tanques import Tanques
from cosecha_tanques import Cosecha 
from trazabilidad import Trazabilidad
import pandas as pd
from itertools import combinations
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

minutos = 5
intervalo = 5
tiempo_total = 24*60*25

root_mineral = "/Users/michaelcueto/Documents/proyectos/trazavilidad-VetaDorada/version1.0/database/mineral.xlsx"
root_blending = "/Users/michaelcueto/Documents/proyectos/trazavilidad-VetaDorada/version1.0/database/blendings.xlsx"
root_recuperacion = "/Users/michaelcueto/Documents/proyectos/trazavilidad-VetaDorada/version1.0/database/recuperacion.xlsx"
root_fecha = "/Users/michaelcueto/Documents/proyectos/trazavilidad-VetaDorada/version1.0/database/fecha_blending.xlsx"

fecha_cosecha_anterior = "2025-01-02 06:00:00"
fecha_cosecha_actual = "2025-01-05 10:00:00"

df_materiales = integracion_data(root_mineral, root_blending, root_recuperacion, root_fecha, minutos).mill_to_lix(deltatime=45)
df_info_blendings = integracion_data(root_mineral, root_blending, root_recuperacion, root_fecha, minutos).info_blending(rec_estandar=0.90)
df_tk1, df_tk2, df_tk3, df_tk4, df_tk5, df_tk6, df_tk7, df_tk8, df_tk9, df_tk10, df_tk11 = Tanques(df_materiales, capacidad_tanques, dimensiones_tanques, tonelaje, densidad_pulpa, ge, intervalo, tiempo_total).simular_tanques()

In [21]:
import pandas as pd
import numpy as np

class Cosecha:
    def __init__(self, df, fecha_cosecha_anterior, fecha_cosecha_actual):
        self.fecha_cosecha_anterior = pd.to_datetime(fecha_cosecha_anterior)
        self.fecha_cosecha_actual = pd.to_datetime(fecha_cosecha_actual)
        self.df = df
    
    def extraccion(self):
        mask_interval = (self.df["time"] >= self.fecha_cosecha_anterior) & (self.df["time"] <= self.fecha_cosecha_actual)
        df_interval = self.df.loc[mask_interval].copy()
        df_sin_time = df_interval.drop(columns=["time"])
        filas_vacias = df_sin_time.isna().all(axis=1)
        indices_vacios = filas_vacias[filas_vacias].index.tolist()  # Convertir a lista de Ã­ndices
        indices_validos = [idx - 1 for idx in indices_vacios if idx - 1 in self.df.index]
        
        if indices_validos:  # Si hay Ã­ndices vÃ¡lidos
            filas_anteriores = self.df.loc[indices_validos]
            filas_anteriores = filas_anteriores[filas_anteriores["time"] < self.fecha_cosecha_actual]
        else:
            filas_anteriores = pd.DataFrame()

        fecha_especifica = self.fecha_cosecha_actual
        fecha_menor = self.df[self.df["time"] <= fecha_especifica].iloc[-1] if not self.df[self.df["time"] <= fecha_especifica].empty else None
        fecha_mayor = self.df[self.df["time"] > fecha_especifica].iloc[0] if not self.df[self.df["time"] > fecha_especifica].empty else None
        
        if fecha_menor is not None and fecha_mayor is not None:
            distancia_menor = abs(fecha_menor["time"] - fecha_especifica)
            distancia_mayor = abs(fecha_mayor["time"] - fecha_especifica)
            
            if fecha_menor.drop("time").isna().all():
                fila_cercana = fecha_mayor.to_frame().T  # Si la fecha menor es NaN, tomar la mayor
            elif distancia_menor < distancia_mayor:
                fila_cercana = fecha_menor.to_frame().T
            elif distancia_mayor < distancia_menor:
                fila_cercana = fecha_mayor.to_frame().T
            else:
                fila_cercana = fecha_menor.to_frame().T  # Si estÃ¡n a la misma distancia, tomar la menor
        elif fecha_menor is not None:
            fila_cercana = fecha_menor.to_frame().T
        elif fecha_mayor is not None:
            fila_cercana = fecha_mayor.to_frame().T
        else:
            fila_cercana = pd.DataFrame()  # Si no hay fechas disponible
        df_resultado = pd.concat([filas_anteriores, fila_cercana])
        return df_resultado

In [22]:
df_tk1.to_csv("df_tk1.csv")

In [23]:
filas_anteriores = Cosecha(df_tk1,fecha_cosecha_anterior = "2025-01-02 06:20:00",fecha_cosecha_actual = "2025-01-05 10:00:00").extraccion()
filas_anteriores

,time,1,2,3,4,5,6,7,8,9,...,53,54,55,56,57,58,59,60,61,62
61,2025-01-02 11:25:00,95.202971,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
124,2025-01-02 16:40:00,95.202971,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
187,2025-01-02 21:55:00,95.202971,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
250,2025-01-03 03:10:00,95.202971,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
313,2025-01-03 08:25:00,95.202971,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
376,2025-01-03 13:40:00,33.781699,78.143486,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
439,2025-01-03 18:55:00,NaN,64.468376,53.712105,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502,2025-01-04 00:10:00,NaN,NaN,114.832777,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
565,2025-01-04 05:25:00,NaN,NaN,112.980635,1.776241,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
628,2025-01-04 10:40:00,NaN,NaN,NaN,110.126949,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
691,2025-01-04 15:55:00,NaN,NaN,NaN,5.328723,113.653838,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
754,2025-01-04 21:10:00,NaN,NaN,NaN,NaN,119.432847,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
817,2025-01-05 02:25:00,NaN,NaN,NaN,NaN,36.600389,73.194499,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
880,2025-01-05 07:40:00,NaN,NaN,NaN,NaN,NaN,45.959336,65.056888,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
n

In [25]:
list(range(11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]